
  <% if current_user %>

   <% if alert %>

   <br>
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <% end %>

  <br>

   <%= render 'create_task' %>

   <br>

  <table class="table">

    <tbody>
      <% @tasks.each do |task| %>
        <% if task.completed %>
        <tr class="table-active">
          <td class="strike"><%= link_to task.description, edit_task_path(task) %><% task.description %></td>
          <td>
              <% link_to 'Show', task %>
              <center>
                <%= link_to 'Remove', task, method: :delete, data: { confirm: 'Are you sure?' } %>
              </center>
          </td>
        </tr>

        <% else %>

        <tr>
          <td><%= link_to task.description, edit_task_path(task) %><% task.description %></td>
          <td>
              <% link_to 'Show', task %>
              <center>
                <%= link_to 'Remove', task, method: :delete, data: { confirm: 'Are you sure?' } %>
              </center>
          </td>
        </tr>

      <% end %>
     <% end %>
    </tbody>
  </table>

<% else %>

 <%= render :partial => "users/index" %>

<% end %>


